@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=PT+Sans+Caption:wght@700&family=Questrial&display=swap%27');
@import "./styles/variables.scss";


* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-Q;
}

// .layout {
//   display: flex;
//   min-height: 100vh;
// }

// @media only screen and (max-width: 960px) {
//   html {
//     font-size: 12px;
//   }

//   .layout {
//     flex-direction: column;
//   }
// }

// @media only screen and (max-width: 320px) {
//   html {
//     font-size: 10px;
//   }
// }

.btn {
  margin-bottom:10px;
}

.btn-lg {
  margin-bottom:100px;
}

.error{
  color:red;
  font-size:10px;
  margin-top:-15px;
}


