

.MuiBox-root{
  width: 100%;
}

.patients-list-main-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}

.patients-add-new{
  padding-left: 80%;
  padding-bottom: 2%;

}

.patients-form {
  background-color:#e1e6f662;
  padding-bottom: 1%;
  border-radius: 25px;
}

.patients-list {
  padding-top: 2%;
}

.alert-message{
  padding: 1%;
}

.new-patient{

  &-form {
  width: 100%;
  padding: 2%;
  }

  &-button {
    padding-left: 80%;
  }
}
