@import "../../styles/variables.scss";
.layout {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  padding: 2rem 0;

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    // margin: 2rem 0;
    border: solid 1px;
    color: black;
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }

  &__mainFont {
    font-family: $font-family-PT;
    font-weight: bold;
    color: $white;
    font-size: 2em;
    text-align: center;
  }

  &__mainFont__background {
    background-color: $dark-blue;
    margin-top: 1em;
  }

  &__secondFont {
    font-family: $font-family-PT;
    color: $dark-blue;
    font-size: 1.5em;
    padding-top: 0.5em;
  }
  &__greeting {
    // background: linear-gradient(to right, #c5e060 0%, #ffffff 100%);
    width: 17em;
    height: 3em;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 35px;
    margin-top: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  &__clicked {
    // background: linear-gradient(to right, #c5e060 0%, #ffffff 100%);
    width: 17em;
    height: 3em;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 35px;
    margin-top: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  &__lowerPart {
    margin-top: 20rem;
    margin-bottom: 0rem;
    text-align: center;
  }

  &__backButton {
    align-self: center;
    text-align: center;
  }
}

button {
  width: 11em;
  height: 2.5em;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 35px;
  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border: none;
}

.clicked {
  width: 15em;
  height: 2.5em;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border: none;
}

.schedule {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 0 2rem;
  width: 100%;
}

.padding {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.css-1ozefeb {
  width: 45%;
}

.css-epd502 {
  margin-right: -500px;
}



.css-l0iinn {
  width:100%;
  padding: 107px;
  margin-right: 145px;
}

.css-k008qs {
  margin-left: -280px;
}
