@import "../styles/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.carousel-caption-a {
  position: absolute;
  // right: 70%;
  bottom: 25.30rem;
  
  // padding-top: 1.00rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.carousel-caption-b {
  position: absolute;
  bottom: 15.25rem;
  left: 60%;
  // padding-top: 1.25rem;
  // padding-bottom: 1.25rem;
  color: #fff;
}
