@import "../styles/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.carousel-caption-a {
  position: absolute;
  // right: 70%;
  bottom: 25.30rem;
  font-size: 50px;
  // padding-top: 1.00rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.carousel-caption-a > p {
  font-size: 28px;
}
.carousel-caption-b {
  position: absolute;
  bottom: 13.25rem;
  left: 58%;
  // padding-top: 1.25rem;
  // padding-bottom: 1.25rem;
  color: #fff;
}

.carousel-caption-b > p {
  font-size: 28px;
}