$font-family-PT: "PT Sans Caption", sans-serif;
$font-family-IM: "IM Fell French Canon", serif;
$font-family-Q: "Questrial", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$dark-blue: #0f003d;
$green: #c5e060;

$dark-background: #c5e060;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;

